.close {
   outline: none !important;
}

.card {
   opacity: .5 !important;
   color: black !important;
}

a {
   text-decoration: none !important;
   color: white !important;
}

a:hover {
   text-decoration: underline !important;
}

.jumbotron {
   padding-top: 30px !important;
}

textarea {
   resize: none !important;
}

.mensaje-lista {
   padding: 0 14px !important;
   min-height: 250px;
}

.alert-secondary {
   height: 85px !important;
}

.mensaje-lista > * {
   width: 100%;
}

.tareas {
   padding: 10px;
}

.alert-light {
   text-align: center !important;
}

.alert-light p {
   opacity: .5;
}